ul {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

.wrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

@media (min-width: 700px) {
  .content {
    
    
    
    width: 66.1016949153%;
    float: left;
    
    margin-right: 1.6949152542%;
    
     } }

@media (min-width: 700px) {
  .sidebar {
    
    
    
    width: 32.2033898305%;
    float: right;
    
    margin-right: 0;
    
     } }

.social {
  padding: 1.6949152542%; }
  .social:after {
    content: "";
    display: table;
    clear: both; }
  .social .social__list-item {
    width: 18.3673469388%;
    float: left;
    
    
    
    
    margin-bottom: 2.0408163265%; }
    .social .social__list-item:nth-child(5n+1) {
      
      
      margin-left: 0;
      margin-right: -100%;
      
      
      clear: both;
      margin-left: 0; }
    .social .social__list-item:nth-child(5n+2) {
      
      
      margin-left: 20.4081632653%;
      margin-right: -100%;
      
      
      clear: none; }
    .social .social__list-item:nth-child(5n+3) {
      
      
      margin-left: 40.8163265306%;
      margin-right: -100%;
      
      
      clear: none; }
    .social .social__list-item:nth-child(5n+4) {
      
      
      margin-left: 61.2244897959%;
      margin-right: -100%;
      
      
      clear: none; }
    .social .social__list-item:nth-child(5n+5) {
      
      
      margin-left: 81.6326530612%;
      margin-right: -100%;
      
      
      clear: none; }
    @media (min-width: 700px) {
      .social .social__list-item {
        width: 8.1632653061%;
        float: left;
        
        
        
        
        margin-bottom: 0; }
        .social .social__list-item:nth-child(10n+1) {
          
          
          margin-left: 0;
          margin-right: -100%;
          
          
          clear: both;
          margin-left: 0; }
        .social .social__list-item:nth-child(10n+2) {
          
          
          margin-left: 10.2040816327%;
          margin-right: -100%;
          
          
          clear: none; }
        .social .social__list-item:nth-child(10n+3) {
          
          
          margin-left: 20.4081632653%;
          margin-right: -100%;
          
          
          clear: none; }
        .social .social__list-item:nth-child(10n+4) {
          
          
          margin-left: 30.612244898%;
          margin-right: -100%;
          
          
          clear: none; }
        .social .social__list-item:nth-child(10n+5) {
          
          
          margin-left: 40.8163265306%;
          margin-right: -100%;
          
          
          clear: none; }
        .social .social__list-item:nth-child(10n+6) {
          
          
          margin-left: 51.0204081633%;
          margin-right: -100%;
          
          
          clear: none; }
        .social .social__list-item:nth-child(10n+7) {
          
          
          margin-left: 61.2244897959%;
          margin-right: -100%;
          
          
          clear: none; }
        .social .social__list-item:nth-child(10n+8) {
          
          
          margin-left: 71.4285714286%;
          margin-right: -100%;
          
          
          clear: none; }
        .social .social__list-item:nth-child(10n+9) {
          
          
          margin-left: 81.6326530612%;
          margin-right: -100%;
          
          
          clear: none; }
        .social .social__list-item:nth-child(10n+10) {
          
          
          margin-left: 91.8367346939%;
          margin-right: -100%;
          
          
          clear: none; } }

.content, .sidebar {
  background: aquamarine;
  text-align: center;
  font-size: 28px;
  line-height: 10em;
  height: 10em; }

.social {
  background: black; }

/*# sourceMappingURL=styles.css.map */